CREATE TABLE users(
id INTEGER PRIMARY KEY AUTOINCREMENT,
username TEXT NOT NULL,
email TEXT NOT NULL,
displayName TEXT NOT NULL
);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE NOAAstations(
id INTEGER PRIMARY KEY AUTOINCREMENT,
station_id TEXT NOT NULL,
name TEXT,
dispName TEXT,
latitude REAL,
longitude REAL,
comments TEXT
);
CREATE TABLE user_stations(
user_id INTEGER,
station_id INTEGER,
PRIMARY KEY (user_id, station_id),
FOREIGN KEY (user_id) references users(id),
FOREIGN KEY (station_id) REFERENCES NOAAstations(id)
);
